.tab-content{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #eaf1f1;
}

.tab-pane > .container{
  min-height: 360px;
}

.nav button:hover{
    background: #3ac7ab;
    color:#fff;
}

.nav button{
    color: #fff;
    background: #007d65;
    text-transform: uppercase;
    font-family:"Trebuchet MS" Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding:15px;
    margin:0;
    border:none;
    border-radius: 0;
}

select {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 0px;
    font-size: 1.2em;
    background: transparent;
    margin-top: 6px;
    margin-left: 0px;
}

.select-batch {
    min-width:120px;
    background:#fff;
}

.btn-add {
    width:50px;
    height:50px;
    margin-top:0px;
    margin-right:10px;
    margin-bottom:10px;
    padding:0px;
    padding-top:5px;
    color:#fff;
    background: #18bc9c;
    border-radius: 25px;
    font-size:2.0em;
    box-shadow: 3px 3px 7px #ccc;
}

.btn-add:hover{
  color:#fff;
  background-color:#10aa82;
}

.form {
    margin:0;
    padding:0;
    padding-left:50px;
    padding-right:50px;
    background: #fff;
    box-shadow: 3px 3px 7px #ccc;
    transition: all .3s ease-in-out;
}

.in.form{
    margin-bottom:20px;
}

.form > div > h3 {
    margin-top: 30px;
}
.form > div > .btn {
    margin-top:30px;
    margin-bottom: 50px;
}

.chekbox-representative{
    padding-top:25px;
    font-size:1.25em;
}
.checkbox-representative input{
    transform:scale(1.25, 1.25);
}

.row-list-group-item div{
    padding-bottom:10px;
}

.list-group {
    padding: 0px;
    margin: 0px;
}

.select-group{
    padding-top:20px;
}
.select-group label{
    margin-right:10px;
    color:#aaa;
    font-size:1.5em;
    font-weight: lighter;
}
.select-group select{
    min-width:140px;
}

.list-group-item-students,
.list-group-item-teachers,
.list-group-item-subjects{
    margin: 0px;
    margin-bottom: 10px;
    padding:20px 50px 10px 50px;
    background:#fff;
    border: 0px solid;
    border-radius: 0px!important;
    box-shadow: 3px 3px 7px #ccc;
}

.list-group-item-empty{
    margin-top:50px;
    color:#ccc;
    background: transparent;
    font-size: 2em;
    text-align: center;
    border:0;
}

.usersettings, .usersettings > li, .usersettings > li > a{
    background: #fff!important;
    color:#007d65!important;
}
.usersettings > li{
    padding:0px;
    margin:0px;
}
.usersettings > li > a{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
    margin:0px;
}
.title-group{
    color:18bc9c!important;
    font-size:1.24em;
}

.day h3{
    font-size:1.24em;
    text-align: center;
}
.col-md-2{
    margin:0px;
    padding:8px;
}

.list-group-routines{
    margin:0px;
    margin-bottom: 8px;
    padding: 10px;

    background:#fff;
    border: 0px solid;
    border-radius: 0px!important;
    box-shadow: 3px 3px 7px #ccc;
}

.list-group-item-routines{
    background: transparent;
    padding:0px;
    border: 0px solid;
    border-radius: 0px!important;
}

.btn-edit-routine{
    font-size:1em;
    padding-left:10px;
    padding-right:10px;
}


.usersettings > li > a:hover{
    color:#3ac7ab!important;
}
.usersettings > li:active,.usersettings > li > a:active{
    background:#007d65!important;
    color:#fff!important;
}

.floating-label-form-group {
    border-bottom: 1px solid #ccc;
}

.routineTableTitle .btn-success{
    font-size: 1em;
}
