.tab-content{
    padding-top: 100px;
    padding-bottom: 50px;
}

.tab-pane > .container{
  min-height: 300px;
}

.batchSelector{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:8px;
    padding-right:4px;
    font-size:1.2em;
    background: #fff;
    margin-top:16px;
    margin-left:6px;
    min-width: 200px;
}

.departmentSelector{
    margin-top:20px;
    padding-left:16px;
}

.departmentSelector > select{
    padding-top:6px;
    padding-bottom:6px;
    padding-left:8px;
    padding-right:4px;
    font-size:1.2em;
    background: transparent;
    margin-top:16px;
    margin-left:10px;
    min-width: 200px;
}

.nav button{
  background:#fff;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding:15px;
  margin:0;
  border:none;
  border-radius: 0;
}

h3 {
    padding:20px 10px;
    margin:0;
    font-size:1.2em;
}

.tab-content{
  background: #eaf1f1;
}

.floating-label-form-group {
    border-bottom: 1px solid #ccc;
}

.list-group-item{
  background: #eaf1f1;
}

.col-md-2{
  padding:0px;
  margin:0px;
}

.list-group{
  padding:0px;
  margin:0;
}

a.list-group-item{
  padding:24px 10px;
  margin:0;
  margin-right: 10px;
  border:0;
  min-height:140px;
}

a.list-group-item:hover{
  background: #fff;
  color:#445;
}
.groupText{
    color:#18bc9c;
}
.routineTableTitle .btn-success{
    font-size: 1em;
}
