/*
Standard CSS Structure for this Site
------------------------------------
position:   absolute/relative
float:      left/right/center

width:
height:

magrin:
padding:

color:
background:

font-family:
font-size:
...

border:
box-shadow:
...

transition:
transform:

...
*/

body {
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active, a.active {
    color: #000;
    outline: 0;
}

p > a, p>a:hover, p>a:focus, p>a:active, p>a.active{
    color:#18bc9c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* for large screen */
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 20px 0;
        transition: all .3s ease-in-out;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        transition: all .3s;
    }
/*

    .navbar-fixed-top.navbar-shrink {
        height: 70px;
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-fixed-top.navbar-shrink .img-navbar-logo{
        float:left;
        width:30px;
        margin-top:8px;
        margin-right: 6px;
    }
*/
}

.img-navbar-logo{
    margin-top:4px;
    margin-right:10px;
    width:37px;
    transition: all .3s ease-in-out;
}


.navbar-default .navbar-brand {
    color: #fff;
    text-shadow: 5px 5px 6px #087;
}

.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
    /* Neon glow effect */
    text-shadow: 5px 5px 6px #087, 0 0 2px rgba(255,255,255,1),
            0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1),
            0 0 20px #18bc9c ,0 0 25px #18bc9c ,0 0 30px #18bc9c, 0 0 35px #18bc9c;
}


.navbar {
    background-color: #00A686;
    font-family: "Trebuchet MS", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.btn-outline {
    margin-top: 15px;
    color: #007d65!important;
    background: #fff;
    font-size: 20px;
    border: none;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #ddd;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar{
    background-color: #007d65;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #18bc9c!important;
}

.btn-info {
    margin-top: 15px;
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.btn-success {
    margin-top: 15px;
    padding-left:30px;
    padding-right:30px;
    color: #fff;
    background: #18bc9c;
    font-size: 20px;
    border: solid 2px #18bc9c;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active{
    background: #109a79;
    border: solid 2px #10aa89;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    background: 0 0;
    font-size: 1.5em;
    border: 0;
    border-radius: 0;
    box-shadow: none!important;
    z-index: 1;
}

.floating-label-form-group textarea{
    max-height:600px;
    min-height:200px;
    resize:vertical;
}

.floating-label-form-group label {
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
    opacity: 0;
    line-height: 1.764705882em;
    display: block;
    z-index: 0;
    vertical-align: middle;
    vertical-align: baseline;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer .footer-above {
    padding-top: 20px;
    background-color: #00A686;
}

footer .footer-col {
    margin-bottom: 20px;
}

footer .footer-below {
    padding: 20px 0;
    background-color: #007d65;
}

.btn-social {
    width: 50px;
    height: 50px;
    color:#fff!important;
    background:#00A686;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 45px;
    text-align: center;
    display: inline-block;
}

.btn-social:hover{
    background:#3ac7ab;
    color:#fff!important;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
    color: #fff;
    background: #007d65;
}

.navbar-default .navbar-nav > li > a:focus {
    color: inherit;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav >.active a:hover {
    background: #3ac7ab;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .active a,
.navbar-default .navbar-nav > .active a:focus {
    background: #18bc9c;
    color: #fff;
}

.footer-above  p{
    font-size:16px;
}
