/*
# Standard CSS Structure
------------------------
position:   absolute/relative
float:      left/right/center

width:
height:

magrin:
padding:

color:
background:

font-family:
font-size:
...

border:
box-shadow:
...

transition:
transform:

...


# Theme Info
------------

base color
----------
darker: 007d65
dark: 00A686
normal: 18bc9c

harmonics
----------
red: f61f3d
blue; 2765c0
*/


body {
    overflow-x: hidden;
}

body.modal-open .ui-datepicker {
    z-index: 1200 !important;
}

a, a:hover, a:focus, a:active, a.active {
    color: #000;
    outline: 0;
}

p > a, p>a:hover, p>a:focus, p>a:active, p>a.active{
    color:#18bc9c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hr-dark{
    border-color: #ddd;
}

/* for large screen */
@media(min-width:768px){
    .nav button{
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
    .navbar-fixed-top {
        padding: 20px 0;
        transition: all .3s ease-in-out;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        height: 60px;
        padding: 5px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-fixed-top.navbar-shrink .img-navbar-logo{
        float:left;
        width:30px;
        margin-top:8px;
        margin-right: 6px;
    }

}

.img-navbar-logo{
    margin-top:4px;
    margin-right:10px;
    width:37px;
    transition: all .3s ease-in-out;
}


.navbar-default .navbar-brand {
    color: #fff;
    text-shadow: 5px 5px 6px #087;
}

.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
    /* Neon glow effect */
    text-shadow: 5px 5px 6px #087, 0 0 2px rgba(255,255,255,1),
            0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1),
            0 0 20px #18bc9c ,0 0 25px #18bc9c ,0 0 30px #18bc9c, 0 0 35px #18bc9c;
}


.navbar {
    background-color: #00A686;
    font-family: "Trebuchet MS", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.btn-outline {
    margin-top: 15px;
    color: #007d65!important;
    background: #fff;
    font-size: 20px;
    border: none;
    transition: all .3s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #ddd;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar{
    background-color: #007d65;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #18bc9c!important;
}

footer {
    color: #fff;
}

footer .footer-above {
    padding-top: 20px;
    background-color: #00A686;
}

footer .footer-col {
    margin-bottom: 20px;
}

footer .footer-below {
    padding: 20px 0;
    background-color: #007d65;
}

.btn-social {
    width: 50px;
    height: 50px;
    color:#fff!important;
    background:#00A686;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 45px;
    text-align: center;
    display: inline-block;
}

.btn-social:hover{
    background:#3ac7ab;
    color:#fff!important;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
    color: #fff;
    background: #007d65;
}

.navbar-default .navbar-nav > li > a:focus {
    color: inherit;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav >.active a:hover {
    background: #3ac7ab;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .active a,
.navbar-default .navbar-nav > .active a:focus {
    background: #18bc9c;
    color: #fff;
}

.nav button:hover {
    background: #3ac7ab;
    color: #fff;
}

.nav button {
    display:block;
    padding:10px 15px;
    padding-top:10px;
    padding-bottom:10px;
    line-height: 20px;
    list-style: none;
    color: #fff;
    background: #007d65;
    text-transform: uppercase;
    font-family: "Trebuchet MS" Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0;
    border: none;
    box-sizing: content-box;
    outline: 0;
    text-align: left;
}


.footer-above  p{
    font-size:16px;
}

.btn{
    border-radius:1px;
}
