.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    background: 0 0;
    font-size: 1.5em;
    border: 0;
    border-radius: 0;
    box-shadow: none!important;
    z-index: 1;
}

.floating-label-form-group label {
    position: relative;
    top: 1em;
    margin: 0;
    font-size: .8em;
    transition: top .3s ease,opacity .3s ease;
    opacity: 0;
    line-height: 1.764705882em;
    display: block;
    z-index: 0;
    vertical-align: middle;
    vertical-align: baseline;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
    color: #007d65;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}




.floating-label-form-group {
    border-bottom: 1px solid #ccc;
}

.form-group label {
    margin-right: 20px;
    margin-bottom: 0px;
}

.form-group select {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 0px;
    font-size: 1em;
    background: transparent;
    margin-top: 6px;
    margin-left: 0px;
}

.select-group{
    margin-top: 20px;
}

.form {
    margin:0;
    padding:0;
    margin-left:40px;
    margin-right:40px;
    background: #fff;
    overflow: hidden;
}


.form > div > h3 {
    margin-top:10px;
    margin-left:4px;
}

.form>div>div>.btn{
    margin:10px 0;
    min-width: 100px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1em;
}

.floating-label-form-group textarea{
    max-height:600px;
    min-height:200px;
    resize:vertical;
}

.chekbox-pinned{
    padding-top:20px;
    vertical-align: text-bottom;
}
.control-group{
    margin-top: 10px;
    margin-bottom:10px;
}
.control{
    margin-bottom: 0px;
}
