p {
    font-size: 16px;
}

p.small {
    font-size: 14px;
}

.img-centered {
    margin: 0 auto;
}

#todo, #about, #sign-in{
    min-height: 640px;
}

header {
    text-align: center;
    color: #fff;
    background: #00A686;
}


header .container {
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-shadow:5px 5px 6px #087;
    text-transform: uppercase;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.text-todo{
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color:#007d65;
}

.title-todo, .title-login{
    color:#007d65;
}

.list-todo li{
  margin:20px;
}


header .container {
    padding-top: 200px;
    padding-bottom: 100px;
}

section {
    padding-top:200px;
    padding-bottom:50px;
}


section h2 {
    margin: 0;
    font-size: 2em;
}

section.success {
    color: #fff;
    background: #00A686;
}

@media(min-width:768px) {

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
    .text-todo{
        font-size:1.2em;
    }
    section h2 {
        margin: 0;
        font-size: 3em;
    }
    p {
        font-size: 18px;
    }

    p.small {
        font-size: 16px;
    }


}


.btn-sign-in {
    margin-top:40px;
    background: #00a08c;

    border:none;
}

.btn-sign-in:hover,
.btn-sign-in:active,
.btn-sign-in:focus{
    background: #18bc9c;
}
