p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.img-centered {
    margin: 0 auto;
}

#todo, #about, #login{
    min-height: 640px;
}

header {
    margin-top:50px;
    text-align: center;
    color: #fff;
    background: #00A686;
}


header .container {
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-shadow:5px 5px 6px #087;
    text-transform: uppercase;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.text-todo{
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.24em;
    color:#007d65;
}

.title-todo, .title-login{
    color:#007d65;
}

.list-todo li{
  margin:20px;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

section {
    padding-top:100px;
    padding-bottom:100px;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #00A686;
}

.btn-sign-in {
    margin-top:40px;
}
