/****************************
    common for all tabs
*****************************/

h2 {
    color: #007d65;
}

h3 {
    padding: 20px 10px;
    margin: 0;
    font-size: 1.2em;
}

p {
    margin-bottom: 10px;
}

.tab-content {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #eaf1f1;
}

.tab-pane .container {
    min-height: 400px;
}

.list-group {
    padding: 0px;
    margin: 0px;
    padding-bottom:10px;
}

.list-group-item {
    margin: 0px;
    border-radius: 0!important;
    border: 0px solid #f7f7f7;
    transition: all .3s ease-in-out;
    box-shadow: 3px 3px 7px #ccc;
}


.toggle-badge-unseen{
    background: #f61f3d;
    position: absolute;
    top:1px;
    right: 1px;
    font-size:0.6em;
    padding:4px;
}

/**************************
    Assignment & Notice
***************************/

.list-group-item-empty{
    background: transparent;
    box-shadow: none;
}

.list-group-item-empty p{
    font-size: 2em;
    color:#aaa;
    text-align: center;

}
.assignment-date,
.notice-date {
    color: #222!important;
    font-size: 0.8em;
    font-family: "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-group-item-assignment,
.list-group-item-notice{
    margin-bottom: 10px;
    padding:30px;
    padding-bottom:20px;
    border-top:2px solid;
    border-top-color: #18bc9c;
}

.assignment-details, .notice-details{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.assignment-details{
  line-height:1.5em;
}



.list-group-item-unseen{
    border-top:2px solid;
    border-top-color: #b61f3d!important;
}

.content-topright {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #008080!important;
}

.content-topright > .btn{
    padding: 3px 7px 3px 7px;
    border-radius:0px;
    border-color: transparent;
}

.content-topright > .btn:hover{
    background: #ccc;
}

.badge-menu-unseen{
    border:none !important;
    font-size:0.777em;
    padding: 2px 4px 2px 4px;

    vertical-align: top;
}


.btn-add {
    width: 2em;
    height: 2em;
    padding:0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed';
    color:#fff;
    background: #18bc9c;
    border-radius: 50%;
    font-size:1.5em;
    box-shadow: 3px 3px 7px #ccc;
    outline: 0!important;
}

.btn-add:active,
.btn-add:focus,
.btn-add:hover{
  color:#fff;
  background-color:#10aa82;
  outline: 0;
}

.in.form-collapse{
    margin-bottom:20px;
}

/***********************
    Change Password
************************/

.usersettings{
    border-radius: 1px;
}

.usersettings,
.usersettings > li,
.usersettings > li > a {
    background: #fff!important;
    color: #007d65!important;
}

.usersettings > li {
    padding: 0px;
    margin: 0px;
}

.usersettings > li > a {
    padding: 10px 20px;
    margin: 0px;
}

.usersettings > li > a:hover {
    color: #3ac7ab!important;
    background: #eee!important;
}

.usersettings > li:active,
.usersettings > li > a:active {
    background: #007d65!important;
    color: #fff!important;
}

.form-changepass{
    padding:60px;
    padding-top: 40px;
    padding-bottom:10px;
}

.form-changepass .btn{
    margin-top:30px;
    margin-bottom:30px;
}


#addnotice,
#addassignment {
    padding-bottom: 40px;
}


.modal-title{
    text-transform: none!important;
}

.modal-content{
    overflow: hidden;
}
