/****************************
    common for all tabs
*****************************/

h2 {
    color: #007d65;
}

h3 {
    padding: 20px 10px;
    margin: 0;
    font-size: 1.2em;
}

p {
    margin-bottom: 10px;
}

.tab-content {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #eaf1f1;
}

.tab-pane .container {
    min-height: 400px;
}

.nav button:hover {
    background: #3ac7ab;
    color: #fff;
}

.nav button {
    color: #fff;
    background: #007d65;
    text-transform: uppercase;
    font-family: "Trebuchet MS" Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px;
    padding-bottom: 15px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.list-group {
    padding: 0px;
    margin: 0px;
}

.list-group-item {
    margin: 2px;
    margin-bottom: 10px!important;
    border-radius: 0!important;
    border: 0px solid #f7f7f7;
    transition: all .3s ease-in-out;
}

.list-group-item:hover {
    background: #fff;
    color: #445;
}

.floating-label-form-group {
    border-bottom: 1px solid #ccc;
}

.form-group label {
    margin-right: 20px;
    margin-bottom: 0px;
}

.form-group select {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 0px;
    font-size: 1.2em;
    background: transparent;
    margin-top: 6px;
    margin-left: 0px;
}

.select-group{
    margin-top: 20px;
}


/**************
    Routine
***************/

.thinner {
    margin:8px;
    padding:0px;
}

.today .list-group-item {
    border-top: 2px solid #18bc9c;
}

.nottoday .list-group-item {
    background: #f7f7f7;
    border-top: 2px solid #ddd;
}

.badge {
    font-size: 0.6em;
    width: 14px;
    border-radius: 7px;
    padding: 3px;
    margin: 0px;
}

.badge-p {
    background-color: #f77;
}

.badge-l {
    background-color: #2bb;
}

.nottoday .badge-p,
.nottoday .badge-l {
    background-color: #ddd;
}

.today h3 {
    color: #18bc9c;
}

.nottoday {
    color: #666666;
}

.today .gap {
    background: #fafaff;
    border-top: 2px solid #13aacc;
}

.nottoday .gap {
    border-top: 2px solid #ddd;
}

.gap {
    margin: 2px;
    margin-bottom: 10px!important;
    padding-top: 16px;
    padding-left: 20px;
    font-size: 0.9em;
    transition: all .3s ease-in-out;
    background: #f7f7f7;
    border-radius: 0!important;
    min-height: 55px;
}


.period-time {
    font-size: 0.78em;
}


/**************************
    Assignment & Notice
***************************/

.assignmentlist .list-group-item,
.noticelist .list-group-item {
    margin-top:20px;
    padding:30px 50px 30px 50px;
}

.assignment-date,
.notice-date {
    color: #777777!important;
    font-size: 0.8em;
}

.topcorner {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #008080!important;
}

.collapse-group {
    padding-top:15px;
}

.btn-add {
    width:50px;
    height:50px;
    margin-top:0px;
    margin-right:10px;
    margin-bottom:10px;
    padding:0px;
    padding-top:5px;
    color:#fff;
    background: #18bc9c;
    border-radius: 25px;
    font-size:2.0em;
    box-shadow: 3px 3px 7px #ccc;
}

.btn-add:hover{
  color:#fff;
  background-color:#10aa82;
}

.list-group-item-assignment,
.list-group-item-notice{
    padding:30px 50px 30px 50px;
    box-shadow: 3px 3px 7px #ccc;
}

.notice-detail{
    padding-left:5px;
}

.notice-title{
    padding-bottom:10px;
}

.list-action-btn-group{
    position: absolute;
    bottom:15px;
    right:15px;
}

.form {
    margin:0;
    padding:0;
    padding-left:40px;
    padding-right:40px;
    background: #fff;
    box-shadow: 3px 3px 7px #ccc;
    transition: all .3s ease-in-out;
}

.in.form{
    margin-bottom:20px;
}

.form > div > h3 {
    margin-top: 30px;
}
.form > div > .btn {
    margin-bottom: 50px;
}

/***********************
    Change Password
************************/
.usersettings,
.usersettings > li,
.usersettings > li > a {
    background: #fff!important;
    color: #007d65!important;
}

.usersettings > li {
    padding: 0px;
    margin: 0px;
}

.usersettings > li > a {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 0px;
}

.usersettings > li > a:hover {
    color: #3ac7ab!important;
}

.usersettings > li:active,
.usersettings > li > a:active {
    background: #007d65!important;
    color: #fff!important;
}

.usersettings > li {
    padding: 2px;
    padding-top: 10px;
}

.form-changepass{
    padding:60px;
    padding-top: 40px;
    padding-bottom:10px;
}

.form-changepass > div > .btn{
    margin-top:30px;
}

.btn-success {
    margin-left: -14px;
    margin-top: 30px;
}

#addnotice,
#addassignment {
    padding-bottom: 40px;
}

