/****************************
    common for all tabs
*****************************/

h2 {
    color: #007d65;
}

h3 {
    padding: 20px 10px;
    margin: 0;
    font-size: 1.2em;
}

p {
    margin-bottom: 10px;
}

.tab-content {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #eaf1f1;
}

.tab-pane .container {
    min-height: 400px;
}

.nav button:hover {
    background: #3ac7ab;
    color: #fff;
}

.nav button {
    color: #fff;
    background: #007d65;
    text-transform: uppercase;
    font-family: "Trebuchet MS" Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px;
    padding-bottom: 15px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.list-group {
    padding: 0px;
    margin: 0px;
    padding-bottom:10px;
}

.list-group-item {
    margin: 0px;
    border-radius: 0!important;
    border: 0px solid #f7f7f7;
    transition: all .3s ease-in-out;
    box-shadow: 3px 3px 7px #ccc;
}


.toggle-badge-unseen{
    background: #f61f3d;
    position: absolute;
    top:1px;
    right: 1px;
    font-size:0.6em;
    padding:4px;
}

/**************************
    Assignment & Notice
***************************/
.chekbox-pinned{
    padding-top:25px;
    font-size:1.25em;
}
input[type="checkbox"]{
    vertical-align: baseline;
    transform:scale(1.25, 1.25)!important;
}

.list-group-item-empty{
    background: transparent;
    box-shadow: none;
}

.list-group-item-empty p{
    font-size: 2em;
    color:#aaa;
    text-align: center;

}
.assignment-date,
.notice-date {
    color: #222!important;
    font-size: 0.8em;
    font-family: "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-group-item-assignment,
.list-group-item-notice{
    margin-bottom: 10px;
    padding:30px;
    padding-bottom:20px;
    border-top:2px solid;
    border-top-color: #18bc9c;
}

.assignment-details, .notice-details{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.assignment-details{
  line-height:1.5em;
}



.list-group-item-unseen{
    border-top:2px solid;
    border-top-color: #b61f3d!important;
}

.content-topright {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #008080!important;
}

.content-topright > .btn{
    padding: 3px 7px 3px 7px;
    border-radius:0px;
    border-color: transparent;
}

.content-topright > .btn:hover{
    background: #ccc;
}

.badge-menu-unseen{
    border:none !important;
    font-size:0.777em;
    padding: 2px 4px 2px 4px;

    vertical-align: top;
}


.btn-add {
    width:50px;
    height:50px;
    margin-top:0px;
    margin-right:10px;
    margin-bottom:10px;
    padding:0px;
    font-family: 'Open Sans Condensed';
    vertical-align:middle;
    color:#fff;
    background: #18bc9c;
    border-radius: 25px;
    font-size:2.4em;
    box-shadow: 3px 3px 7px #ccc;

}

.btn-add:hover{
  color:#fff;
  background-color:#10aa82;
}

.in.form-collapse{
    margin-bottom:20px;
}

/***********************
    Change Password
************************/
.usersettings,
.usersettings > li,
.usersettings > li > a {
    background: #fff!important;
    color: #007d65!important;
}

.usersettings > li {
    padding: 0px;
    margin: 0px;
}

.usersettings > li > a {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 0px;
}

.usersettings > li > a:hover {
    color: #3ac7ab!important;
}

.usersettings > li:active,
.usersettings > li > a:active {
    background: #007d65!important;
    color: #fff!important;
}

.usersettings > li {
    padding: 2px;
    padding-top: 10px;
}

.form-changepass{
    padding:60px;
    padding-top: 40px;
    padding-bottom:10px;
}

.form-changepass .btn{
    margin-top:30px;
    margin-bottom:30px;
}


#addnotice,
#addassignment {
    padding-bottom: 40px;
}


.modal-title{
    text-transform: none!important;
}

#modal-reschedule-class > .modal-dialog > .modal-content{

}
