.tab-content{
    padding-top: 100px;
    padding-bottom: 50px;
}

.tab-pane .container{
  min-height: 400px;
}

.nav button{
  background:#fff;
  text-transform: uppercase;
  font-family:"Trebuchet MS" Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding:15px;
  margin:0;
  border:none;
  border-radius: 0;
}

h3 {
    padding:20px 10px;
    margin:0;
    font-size:1.2em;
}

.tab-content{
  background: #eaf1f1;
}
.list-group-item{
  background: #eaf1f1;
}

.col-md-2{
  padding:0px;
  margin:0px;
}

.list-group{
  padding:0px;
  margin:0;
}

a.list-group-item{
  padding-top:28px;
  min-height: 100px;
  margin:0;
  margin-right:10px;
  margin-left:10px;
  box-shadow: 3px 3px 10px #ccc;
  background: #f7f7f7;
  border-radius: 0!important;
  border:0px solid #f7f7f7;
  border-top: 2px solid #18bc9c;
  margin-bottom: 10px!important;
  transition: all .3s ease-in-out;
}
p{
    margin-bottom:10px;
}

a.list-group-item:hover{
  background: #fff;
  color:#445;
}

.usersettings > li{
  padding:2px;
  padding-top:10px;
}

.today .list-group-item{
  background:#18bc9c;
  color:#fff;
}

.assignmentlist .list-group-item,
.noticelist .list-group-item{
  padding-left:50px;
  padding-right:50px;
  padding-bottom:50px;
}
.submission-date{
  color:#900!important;
}

.assignment-summary{
  padding-top:8px;
  padding-bottom:5px;
}

.notice-detail{
  padding-top:20px;
}

.today > h3{
  color:#18bc9c;
}

.addbtn{
  font-size:2em;
}

.addbtn:hover{
  color:#33dfce;
}

.floating-label-form-group {
    border-bottom: 1px solid #ccc;
}

.form-group select{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:8px;
  padding-right:4px;
  font-size:1.2em;
  background: transparent;
  margin-top:16px;
  margin-left:6px;
}


.noborder{
  border:none;
}

.btn-success{
  margin-left:-14px;
  margin-top:30px;
}

#addnotice,
#addassignment{
  padding-bottom:40px;
}

.badge{
    position: absolute;
    right: 10px;
    top: 5px;
    background: #18bc9c;
    font-size: 0.6em;
}

.gap50, .gap100, .gap150{
    padding-top:12px;
    padding-left:20px;
    font-size:0.9em;
    margin:0;
    margin-right:10px;
    margin-left:10px;
    box-shadow: 3px 3px 10px #ccc;
    background: #f7f7f7;
    border-radius: 0!important;
    border:0px solid #f7f7f7;
    margin-bottom: 10px!important;
    transition: all .3s ease-in-out;

}

.gap50, .gap100, .gap150{
    background: #eee;
}

.gap50{
    height:50px;
}
.gap100{
    height:80px;
}
.gap150{
    height:110px;
}

.duration1{
    min-height: 100px!important;
}

.duration2{
    min-height: 200px!important;
    padding-top:70px!important;
}

.duration3{
    min-height: 300px!important;
    padding-top:110px!important;
}


.period-time{
    position: absolute;
    top: 5px;
    left: 16px;
    font-size: 0.78em;
}
