<div id="routines" class="tab-pane fade">
    <div class="container">
        <div class="row text-center">
            <h2 class="page-title title-routines">Routines</h2>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <select class="select-batch pull-left" onchange="location=this.options[this.selectedIndex].value + '#routines';">
                    {%if batch == null %}
                    <option value="#" selected="selected">Select a batch</option>
                    {%endif%}
                    {%for a_batch in batches %}
                        {% if batch|stringformat:"s" == a_batch|stringformat:"s" %}
                        <option value="{% url 'classroom:authority' a_batch %}" selected="selected">{{a_batch}}</option>
                        {%else%}
                        <option value="{% url 'classroom:authority' a_batch %}">{{a_batch}}</option>
                        {% endif %}
                    {%endfor%}
                </select>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-add pull-right" href="{% url 'classroom:routine' %}"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="row">
            {% if batch %}
                {% for routine in routines %}
                    <hr style="color:#ccc; border:1px solid;">
                    <div class="row">
                        <div class="col-md-6"><h3 class="title-group pull-left">Group: {{routine.groups}} </h3></div>
                        <div class="col-md-6">
                            <a class="btn btn-sm btn-success btn-edit-routine pull-right" href="{% url 'classroom:routine' routine.pk %}"><i class="fa fa-pencil-square-o"></i> Edit</a>
                        </div>
                    </div>
                    <div class="row">
                        {% for a_day in workingweek %}
                            <div class="col-md-2 day">
                                <h3 > {{ a_day }} </h3>
                                {% for element in routine.elements %}
                                    {% if element.day == forloop.parentloop.counter0  %}
                                        <div class="list-group list-group-routines">
                                            <div class="list-group-item list-group-item-routines">
                                                <p class="list-group-item-text"><strong>{{element.subject}}</strong></p>
                                                <p class="list-group-item-text"><small>{{element.teacher}}</small></p>
                                                <p class="list-group-item-text"><small>{{element.start_time}} to {{element.end_time}}</small></p>
                                                {% if element.class_type == 0 %}
                                                    <p class ="list-group-item-text"><small>(Lecture)</small></p>
                                                {% else %}
                                                    <p class ="list-group-item-text"><small>(Practical)</small></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {%else%}
                <div class="list-group-item list-group-item-empty">
                    <p>Select a batch to view the routines</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
