<div id="students" class="tab-pane active">
    <div class="container">
        <div class="row text-right" style="margin-bottom:20px;">
            <select class="batchSelector" onchange="location=this.options[this.selectedIndex].value;">
                {%if batch == null %}
                <option value="#" selected="selected">Select a batch</option>
                {%endif%}

                {%for a_batch in batches %}
                {% if batch|stringformat:"s" == a_batch|stringformat:"s" %}
                <option value="/authority/{{a_batch}}" selected="selected">{{a_batch}}</option>
                {%else%}
                <option value="/authority/{{a_batch}}">{{a_batch}}</option>
                {% endif %}
                {%endfor%}
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Students</h3>
                {% if batch %}
                <ul>
                {% for student in students %}
                <li>{{ student.name }}</li>
                {% endfor %}
                </ul>
                {%else%}
                <p>Select a batch to get list of the students</p>
                {%endif%}
            </div>
            <div class="col-md-6">
                <h3>Add Student</h3>
                <form method="post" name="form_addStudent" id="addStudentForm">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="name" id="name">
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-6 floating-label-form-group controls">
                            <label>Roll</label>
                            {%if prev_roll %}
                            <input type="number" name="roll" class="form-control" placeholder="roll" id="roll" value="{{prev_roll|add:'1'}}">
                            {%else%}
                            <input type="number" name="roll" class="form-control" placeholder="roll" id="roll">
                            {%endif%}
                        </div>
                        <div class="form-group col-xs-6 floating-label-form-group controls">
                            <label>Group</label>
                            {%if prev_group %}
                            <input type="text" name="group" class="form-control" placeholder="group" id="group" value="{{prev_group}}">
                            {%else%}
                            <input type="text" name="group" class="form-control" placeholder="group" id="group">
                            {%endif%}
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Batch</label>
                            {%if batch == null %}
                            <input type="number" name="batch" class="form-control" placeholder="batch" id="batch">
                            {% else %}
                            <input type="number" name="batch" class="form-control" placeholder="batch" id="batch" value="{{batch}}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" style="margin-top:20px;">
                            <button name="add_student" type="submit" class="btn btn-success btn-lg">Add</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
