<div id="students" class="tab-pane active fade">
    <div class="container">
        <div class="row text-right" style="margin-bottom:20px;">
            <select class="batchSelector" onchange="location=this.options[this.selectedIndex].value + '#students';">
                {%if batch == null %}
                <option value="#" selected="selected">Select a batch</option>
                {%endif%}

                {%for a_batch in batches %}
                {% if batch|stringformat:"s" == a_batch|stringformat:"s" %}
                <option value="{% url 'classroom:authority' a_batch %}" selected="selected">{{a_batch}}</option>
                {%else%}
                <option value="{% url 'classroom:authority' a_batch %}">{{a_batch}}</option>
                {% endif %}
                {%endfor%}
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Students</h3>
                {% if batch %}
                <ul>
                {% for student in students %}
                <li>{{ student.name }}</li>
                {% endfor %}
                </ul>
                {%else%}
                <p>Select a batch to get list of the students</p>
                {%endif%}
            </div>
            <div class="col-md-6">
                <h3>Add Student</h3>
                <form method="post" name="form_addStudent" id="addStudentForm">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" id="name" required>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-5 floating-label-form-group controls">
                            <label>Roll</label>
                            <input type="number" name="roll" class="form-control" placeholder="Roll No." id="roll"
                                    {% if roll %} value="{{roll|add:'1'}}" {% endif %} required>
                        </div>
                        <div class="form-group col-xs-offset-2 col-xs-5 floating-label-form-group controls">
                            <label>Group</label>
                            <input type="text" name="group" class="form-control" placeholder="Group" id="group" value="{{group}}" required>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Batch</label>
                            <input type="number" name="batch" class="form-control" placeholder="Batch" id="batch" value="{{batch}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" style="margin-top:20px;">
                            <button name="add_student" type="submit" class="btn btn-success btn-lg">Add</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
