{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if pageTitle %}
    <title> {{pageTitle}} </title>
    {%else%}
    <title>Notifica</title>
    {%endif%}
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body id="body-top">
    {%if navbarDisabled == false %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#notifica-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    {%block navbarIconBars %}
                    {%endblock%}
                </button>
                <img class="img-responsive img-navbar-logo pull-left" src="{% static 'imgs/notifica-logo.png' %}" alt="">
                <a class="navbar-brand" href="#body-top">Notifica</a>
            </div>
            {% block navbar %}
            {% endblock %}
        </div>
    </nav>
    {%endif%}

    {% block body %}
    {% endblock %}

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Available for</h3>
                        <p>Institute of Engineering
                            <br>Central Campus</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Download the App</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://drive.google.com/uc?export=download&id=0B4m35FfIXswwVHV5V2JlRUZMQzQ" class="btn-social btn-outline"><i class="fa fa-android"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-windows"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Notifica</h3>
                        <p>Notifica is a free to use, open source routine app developed by FABs team.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; FABs team
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/common.js'%}"></script>
    {% block footer %}
    {% endblock %}
</body>
</html>
