{% extends 'classroom/base.html' %}
{% load staticfiles %}

{% block body %}
    <link href = "{% static 'css/routine.css' %}" type="text/css" rel="stylesheet">
    <div class="container" style="margin-top:100px;">
        <h3>Routine:</h3>
        <form method="post">
            {% csrf_token %}
            <table>
                {{routineform}}
            </table>
            <br>
            <h4>Elements:</h4>
            <table class="outertable">
            {{ elementsform.management_form }}
            {% for form in elementsform.forms %}
                {% if forloop.counter0 > elementsMax %}
                    <tr class="collapsed-row" style="display:none;">
                {% else %}
                    <tr>
                {% endif %}
                <td>
                <table>
                    {{ form }}
                </table>
                </td></tr>
            {% endfor%}
            <tr style="width:100%;">
                <td style="width:42%;">
                            <button type="button" onclick="AddRow()" id="add_row" class="btn btn-info btn-lg"><i class="fa fa-plus"></i> Add Element</button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success btn-lg">
                                {% if routine_id %}<i class="fa fa-floppy-o"></i> Save Changes {% else %}<i class="fa fa-floppy-o"></i> Save Routine {% endif %}
                            </button>
                            <a href="/authority" class="btn btn-info btn-lg">
                                <i class="fa fa-arrow-left"></i> Go Back
                            </a>
                </td>
            </tr>
        </table>
        </form>
    </div>
{% endblock %}

{% block head %}
<script>
    function AddRow() {
        var elements = document.getElementsByClassName("collapsed-row");
        if (elements.length == 1)
            document.getElementById("add_row").style.display = "none";

        var element = elements[0];
        element.style.display = "block";
        element.className = "non-collapsed-row";
    }
</script>
{% endblock %}
