{% extends 'classroom/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container" style="padding-top:150px; padding-bottom:100px;">
       
        Routine:
        <form method="post">
            {% csrf_token %}
            <table>
                {{routineform}}
            </table>
            <br>
            Elements:
            <table>
            {{ elementsform.management_form }}
            {% for form in elementsform.forms %}
                {% if forloop.counter0 > elementsMax %}
                    <tr class="collapsed-row" style="display:none;">
                {% else %}
                    <tr>
                {% endif %}
                <td style="padding-top:20px;">
                
                <table>
                    {{ form }}
                </table>
                </td></tr>
            {% endfor%}
            <tr><td>
                <button type="button" onclick="AddRow()" id="add_row" class="btn btn-lg">Add another element</button>
            </td><td>
            <button type="submit" class="btn btn-success btn-lg">
                {% if routine_id %} Save changes {% else %} Save new {% endif %}
            </button>
            </td></tr>
            </table>
        </form>
    </div>
{% endblock %}

{% block head %}
<script>
    function AddRow() {
        var elements = document.getElementsByClassName("collapsed-row");
        if (elements.length == 1)
            document.getElementById("add_row").style.visibility = "hidden";

        var element = elements[0];
        element.style.display = "block";
        element.className = "non-collapsed-row";
    }
</script>
{% endblock %}
