{% extends 'classroom/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block head %}
<link href = "{% static 'css/student.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{%block navbarIconBars%}
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
{%endblock%}

{% block navbar %}
<div class="collapse navbar-collapse" id="notifica-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>
        <li class="active"><a data-toggle="pill" href="#routine">Routine</a></li>
        <li><a data-toggle="pill" href="#assignments">Assignments</a></li>
        <li><a data-toggle="pill" href="#notices">Notices</a></li>
        <li class="dropdown ">
            <button class="btn btn-default dropdown-toggle" type="button" id="settingsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{firstname}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu usersettings" aria-labelledby="settingsMenu">
              <li><a data-toggle="pill" href="#changepass">Change Password</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
<div class="tab-content">
  {% include "classroom/student/routine.html" %}
  {% include "classroom/student/assignments.html" %}
  {% include "classroom/student/notices.html" %}
  {% include "classroom/student/changepass.html" %}
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'js/student.js' %}"></script>
{% endblock %}
