{% extends 'classroom/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block bodystart %}{%include 'classroom/common/fb.html'%}{% endblock %}
{% block head %}
<link href = "{% static 'css/student.css' %}" type="text/css" rel="stylesheet">
<link href = "{% static 'css/routine.css' %}" type="text/css" rel="stylesheet">
<link href = "{% static 'css/form.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block navbar_togglebtn %}
    {% if unseen_assignments.count > 0 or unseen_notices.count > 0 %}
        <span class="badge toggle-badge-unseen" id="toggle-badge-unseen"><i class="fa fa-bell"></i></span>
    {% endif %}
{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="notifica-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>
        <li class="active"><a data-toggle="pill" href="#routine">Routine</a></li>
        <li><a data-toggle="pill" href="#assignments">Assignments{% if unseen_assignments.count > 0 %} <span class="badge badge-menu-unseen" id="badge-menu-unseen-assignments">{{unseen_assignments.count}}</span>{% endif %}</a></li>
        <li><a data-toggle="pill" href="#notices">Notices{% if unseen_notices.count > 0 %} <span class="badge badge-menu-unseen" id="badge-menu-unseen-notices">{{unseen_notices.count}}</span>{% endif %}</a></li>
        <li class="dropdown ">
            <button class="btn btn-default dropdown-toggle" type="button" id="settingsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-user fa-fw"></i> {%if firstname%}{{firstname}}{%endif%} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu usersettings" aria-labelledby="settingsMenu">
              <li><a data-toggle="pill" href="#changepass"><i class="fa fa-edit"></i> Change Password</a></li>
              <li><a href="/logout"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
<div class="tab-content">
  {% include "classroom/student/routine.html" %}
  {% include "classroom/student/assignments.html" %}
  {% include "classroom/student/notices.html" %}
  {% include "classroom/student/changepass.html" %}
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'js/student.js' %}"></script>
{% endblock %}
