{% load customtags %}
<div id="assignments" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Assignments</h2>
                <hr class="hr-dark">
            </div>
        </div>

        {% if user.privilege == 1 %}
        <div class="row">
            <p class="text-right"><a class="btn btn-add" data-toggle="collapse" data-target="#collapse-form-assignment">+</a></p>
            <div class="col-md-offset-2 col-md-8 collapse-group">
                <div class="collapse form-collapse" id = "collapse-form-assignment">
                    {% include "classroom/student/forms/add_assignment.html" %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="list-group list-group-assignment">
                    {% for assignment in assignments %}
                    <div class="list-group-item list-group-item-assignment {% if assignment.pk in unseen_assignments %}list-group-item-unseen{% endif %}" {% if assignment.pk in unseen_assignments %}
                        id="list-group-item-unseen-assignment-{{assignment.pk}}"{% endif %}>
                        <div class="content-topright">
                            {% if assignment.date %}
                            <span class="assignment-date"> {{assignment.date|daysuntil}}</span> {%else%}
                            <a class="btn">
                                <i class="fa fa-thumb-tack pin-icon"></i>
                            </a>
                            {% endif %}
                            {% if user.privilege == 1 %}
                            <a class="btn btn-delete" href="javascript:DeleteAssignment({{assignment.pk}})" onclick="return confirm('Are you sure?');"><i class="fa fa-trash-o"></i></a>
                            <a class="btn btn-share-on-fb"
                                onclick="fb_share_open('Assignment', '{{assignment.summary}}', '{{assignment.poster|name_of_user}}', '{{assignment.details}}', '{{assignment.date}}', '{{assignment.subject}}', '{{assignment.groups}}');"
                                data-toggle="modal" data-target="#fb_share_modal"><i class="fa fa-facebook-square"></i>
                            </a>
                            {% endif %}
                            <a class="btn" data-toggle="collapse" data-target="#detail{{forloop.counter}}" href="javascript:SetAssignmentSeen({{assignment.pk}})">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>

                        <div data-toggle="collapse" data-target="#detail{{forloop.counter}}" onclick="javascript:SetAssignmentSeen({{assignment.pk}})" style="cursor:pointer;">
                            <h4 class="list-group-item-heading">{{assignment.subject}}</h4>
                            <p class="list-group-item-text">
                                {{assignment.summary}}
                            </p>
                            <p class="list-group-item-text">
                                <i><small>posted by: {{assignment.poster|name_of_user}}</small></i>
                            </p>
                        </div>

                        <div class="collapse-group">
                            {% autoescape off %}
                            <div class="collapse list-group-item-text assignment-details" id="detail{{forloop.counter}}">
                                <hr>
                                <p>
                                    {{assignment.details|urlizetrunc:50}}
                                </p>
                            </div>
                            {% endautoescape %}
                        </div>
                    </div>
                    {%empty%}
                    <div class="list-group-item list-group-item-empty">
                        <p>No recent assignment found</p>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
function DeleteAssignment(pk) {
    $.post("{% url 'classroom:delete' %}", { type:"assignment", pk: pk, "csrfmiddlewaretoken": getCookie('csrftoken') })
        .done(function(data) {
            location.reload();
        });
}

function SetAssignmentSeen(pk) {
    var li = document.getElementById("list-group-item-unseen-assignment-"+pk);
    if(li){
        $.post("{% url 'classroom:set_post_seen' %}", { type:"assignment", pk: pk, "csrfmiddlewaretoken": getCookie('csrftoken') }).done(function(data) {
            li.className = li.className.replace('list-group-item-unseen', '');
            li.id = li.id.replace("list-group-item-unseen-assignment-"+pk, '');
            var nb = document.getElementById("badge-menu-unseen-assignments");
            if(nb){
                var un = Number(nb.innerHTML);
                if(un > 0){
                    --un;
                    nb.innerHTML = un;
                }

                if(un == 0){
                    nb.style.display='none';
                    var nnb = document.getElementById("badge-menu-unseen-notices");
                    var unn = 0;
                    if(nnb){
                        unn = Number(nnb.innerHTML);
                    }
                    if(unn == 0) document.getElementById('toggle-badge-unseen').style.display='none';
                }
            }
        })
    }
}
</script>
