{% load customtags %}
<div id="notices" class="tab-pane fade">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Notices</h2>
                <hr class="hr-dark">
            </div>
        </div>

        {% if user.privilege == 1 %}
        <div id="modal-add-notice" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    {% include "classroom/student/forms/add_notice.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-right"><button class="btn btn-add" data-toggle="modal" data-target="#modal-add-notice">+</button></p>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-10 col-sm-offset-1">
                <div class="list-group list-group-notice">
                    {% for notice in events %}
                    <div class="list-group-item list-group-item-notice {% if notice.pk in unseen_notices %}list-group-item-unseen{% endif %}" {% if notice.pk in unseen_notices %}id="list-group-item-unseen-notice-{{notice.pk}}"{% endif %}>
                        <div class="content-topright">
                            {% if notice.date %}
                            <span class="notice-date">{{notice.date}}</span>
                            {%else%}
                            <a class="btn">
                                <i class="fa fa-thumb-tack pin-icon"></i>
                            </a>
                            {% endif %}

                            {% if user.privilege == 1 %}
                            <a class="btn btn-delete" href="javascript:DeleteNotice({{notice.pk}})" onclick="return confirm('Are you sure?');"><i class="fa fa-trash-o"></i></a>
                            {% endif %}

                            <a class="btn" data-toggle="collapse" data-target="#notice-detail{{forloop.counter}}" href="javascript:SetNoticeSeen({{notice.pk}})">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>

                        <div data-toggle="collapse" data-target="#notice-detail{{forloop.counter}}" onclick="javascript:SetNoticeSeen({{notice.pk}})" style="cursor:pointer;">
                            <h4 class="list-group-item-heading notice-title">{{notice.summary}}</h4>
                            <p class="list-group-item-text">
                                <i><small>posted by: {{notice.poster|name_of_user}}</small></i>
                            </p>
                        </div>

                        <div class="collapse-group">
                            {% autoescape off %}
                            <div class="collapse list-group-item-text notice-details" id="notice-detail{{forloop.counter}}">
                                <hr>
                                <p>
                                    {{notice.details|urlizetrunc:50}}
                                </p>
                            </div>
                            {% endautoescape %}
                        </div>
                    </div>
                    {%empty%}
                    <div class="list-group-item list-group-item-empty">
                        <p>No recent notice found</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="result"></div>
<script>
    function DeleteNotice(pk) {
        $.post("{% url 'classroom:delete' %}", { type:"notice", pk: pk, "csrfmiddlewaretoken": getCookie('csrftoken') })
            .done(function(data) {
                location.reload();
            })
    }
    function SetNoticeSeen(pk) {
        var li = document.getElementById("list-group-item-unseen-notice-"+pk);
        if(li){
            $.post("{% url 'classroom:set_post_seen' %}", { type:"notice", pk: pk, "csrfmiddlewaretoken": getCookie('csrftoken') }).done(function(data) {
                li.className = li.className.replace('list-group-item-unseen', '');
                li.id = li.id.replace("list-group-item-unseen-notice-"+pk, '');
                var nb = document.getElementById("badge-menu-unseen-notices");
                if(nb){
                    var un = Number(nb.innerHTML);
                    if(un > 0){
                        --un;
                        nb.innerHTML = un;
                    }
                    if(un == 0){
                        nb.style.display='none';
                        var nab = document.getElementById("badge-menu-unseen-assignments");
                        var uan = 0;
                        if(nab){
                            uan = Number(nab.innerHTML);
                        }
                        if(uan == 0) document.getElementById('toggle-badge-unseen').style.display='none';
                    }
                }
            })
        }
    }
</script>
