{% load customtags %}
<div id="notices" class="tab-pane fade">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Notices</h2>
        <hr>
      </div>
    </div>

    {% if user.privilege == 1 %}
    <div class="row">
      <p class="text-right"><a class="btn btn-add" data-toggle="collapse" data-target="#form-notice"><i class="fa fa-plus"></i></a></p>
      <div class="col-lg-offset-2 col-lg-8 collapse-group">
        <form class=" form collapse" method="post" name="newnotice" id="form-notice">
          {% csrf_token %}
          <div class="row control-group">
            <h3> Post New Notice </h3>
          </div>
          <div class="row control-group">
            <div class="form-group col-md-8 floating-label-form-group controls">
              <label>Date</label>
              <input type="date" name="date" class="form-control" placeholder="Date (optional)" id="date">
            </div>
            <div class="form-group col-md-offset-1 col-md-3 select-group">
              <label>Group</label>
              <select name="group" id="groups">
                {% for value in grouplist %}
                <option value="{{value}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Summary</label>
              <input type="text" name="summary" class="form-control" placeholder="Summary" id="summary" required>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Details</label>
              <textarea rows="3" name="details" class="form-control" placeholder="Details" id="detail" required></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row">
              <div class="form-group col-xs-12 ">
            <button name="post_notice" type="submit" class="btn btn-success btn-lg">Post</button>
        </div>
          </div>
        </form>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="list-group list-group-notice">
          {% for notice in events %}
          <div class="list-group-item list-group-item-notice">

            <div class="topcorner">
              {% if notice.date %}
              <span class="notice-date">{{notice.date}}</span>
              {%else%}
              <a class="btn btn-sm">
                <i class="fa fa-thumb-tack pin-icon"></i>
              </a>
              {% endif %}

                {% if user.privilege == 1 %}
                    <a class="btn btn-delete" href="javascript:DeleteNotice({{notice.pk}})" onclick="return confirm('Are you sure?');"><i class="fa fa-trash-o"></i></a>
                    <a class="btn btn-share-on-fb" onclick="fb_share_open('Notice', '{{notice.summary}}', '{{notice.poster|name_of_user}}', '{{notice.details}}', '{{notice.date}}', '', '{{notice.groups}}');" data-toggle="modal" data-target="#fb_share_modal"><i class="fa fa-facebook-square"></i></a>
                {% endif %}

              <a class="btn btn-sm" data-toggle="collapse" data-target="#notice-detail{{forloop.counter}}">
                <i class="fa fa-expand"></i>
              </a>
            </div>

            <h4 class="list-group-item-heading notice-title">{{notice.summary}}</h4>
            <p class="list-group-item-text">
              <small>posted by: {{notice.poster|name_of_user}}</small>
            </p>
            <div class="collapse-group">
              {% autoescape off %}
              <p class="collapse list-group-item-text notice-detail" id="notice-detail{{forloop.counter}}">
                {{notice.details|urlize}}
              </p>
              {% endautoescape %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
<div id="result"></div>

<script>
    function DeleteNotice(pk) {
        $.post("{% url 'classroom:delete' %}", { type:"notice", pk: pk, "csrfmiddlewaretoken": getCookie('csrftoken') })
            .done(function(data) {
                location.reload();
            })
    }
</script>
