{% load customtags %}


<div id="routine" class="tab-pane fade in active">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Routine</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {% now 'w' as today %}
            {% for a_day in workingweek %}
                {% if today|add:'0' == forloop.counter0 %}
                    <div class="col-md-2 today">
                {%else%}
                    <div class="col-md-2 nottoday">
                {%endif%}
                        <h3> {{ a_day }} </h3>
                        {% for sn, element in routine.items %}
                            {% with element.nextelem as nextelem %}
                            {% with element.prevelem as prevelem %}

                            {% if element.day == forloop.parentloop.counter0 %}
                            {% if element.day != prevelem.day or element.start_time != prevelem.start_time %}
                                <div class="list-group">
                                    {%if element.gap != 0%}
                                    <div class='gap{{element.gap}}'>{{element.gap}} min break</div>
                                    {%endif%}
                                    <a class="list-group-item">
                                        {% if element.class_type == 0 %}
                                            <span class="badge badge-l">L</span>
                                        {% else %}
                                            <span class="badge badge-p">P</span>
                                        {% endif %}
                                        <p class="list-group-item-text period-time">{{element.start_time}} to {{element.end_time}}</p>
                                        <p class="list-group-item-text"><strong>{{element.subject}}</strong></p>
                                        <p class="list-group-item-text"><small>{{element.teacher}}</small></p>

                                        {% if element.day == nextelem.day and element.start_time == nextelem.start_time %}
                                        <hr/>
                                        <p class="list-group-item-text"><strong>{{nextelem.subject}}</strong></p>
                                        <p class="list-group-item-text"><small>{{nextelem.teacher}}</small></p>
                                        {% endif %}

                                        {% if assignment_mark %}
                                            <div class="text-right" style="color:#882222">
                                            <i class="fa fa-exclamation-circle text-right"></i>
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            {%endif%}

                            {%endwith%}
                            {%endwith%}
                        {% endfor %}
                    </div>
            {% endfor %}

        </div>
    </div>
</div>
