{% load customtags %}
<div id="routine" class="tab-pane fade in active">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Routine</h2>
                <hr class="hr-dark">
            </div>

        </div>
        <div class="row row-routine">
            <div id="modal-reschedule-class" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reschedule class</h4>
                        </div>
                        <div class="modal-body">
                            <p class="label-modal-body" id="modal-reschedule-class-label-subject"></p>
                            <p class="lable-modal-body" id="modal-reschedule-class-label-time-old"></p>
                            <input class="form-control" id="modal-reschedule-class-input-time"type="text" placeholder="New time">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% now 'w' as today %}
            {% for sn, day in daily_routine.items %}
            <div class="col-md-2 col-md-2-routine">
                <div class="list-group list-group-routine {% if today|add:'0' == forloop.counter0 %}list-group-routine-today{% endif %}">
                    <h3 class="list-group-title list-group-routine-title text-center">{{workingweek|item:forloop.counter0}}</h3>
                    {% for period in day %}
                    {% if period.prevelem.start_time != period.start_time %}
                    {% if period.gap > 0 %}
                    <div class="list-group-item list-group-item-routine list-group-item-routine-break">
                        <p class="list-group-item-text">{{period.gap}} min break</p>
                    </div>
                    {%endif%}
                    <div class="list-group-item list-group-item-routine">
                        {% if period.class_type == 0 %}
                        <span class="badge badge-routine badge-routine-l">L</span>
                        {% else %}
                        <span class="badge badge-routine badge-routine-p">P</span>
                        {% endif %}
                        <p class="list-group-item-text"><small>{{period.start_time}} to {{period.end_time}}</small></p>
                        <p class="list-group-item-text"><strong>{{period.subject}}</strong></p>
                        <p class="list-group-item-text"><small>{{period.teachers.all | join:', '}}</small></p>
                        {% if period.remarks %}
                        <p class="list-group-item-text"><small>{{period.remarks}}</small></p>
                        {% endif %}
                        {% if user.privilege == 1 %}
                        <div class="list-group-item-cr-options">
                            <button onclick="CancelClass({{period.pk}});" title=" remove this class "><i class="fa fa-times"></i></button>
                            <button onclick="RescheduleClass({{period.pk}}, '{{period.start_time}}', '{{period.subject}}');" title=" reschedule this class "><i class="fa fa-clock-o"></i></button>
                        </div>
                        {% endif %}
                        {% if period.nextelem.start_time == period.start_time %}
                        <hr>
                        <p class="list-group-item-text"><small>{{period.nextelem.start_time}} to {{period.end_time}}</small></p>
                        <p class="list-group-item-text"><strong>{{period.nextelem.subject}}</strong></p>
                        <p class="list-group-item-text"><small>{{period.nextelem.teachers.all | join:', '}}</small></p>
                        {% if period.remarks %}
                        <p class="list-group-item-text"><small>{{period.nextelem.remarks}}</small></p>
                        {% endif %}
                        {% if user.privilege == 1 %}
                        <div class="list-group-item-cr-options">
                            <button onclick="CancelClass({{period.nextelem.pk}});" title=" remove this class "><i class="fa fa-times"></i></button>
                            <button onclick="RescheduleClass({{period.nextelem.pk}}, '{{period.nextelem.start_time}}', '{{period.nextelem.subject}}');" title=" reschedule this class "><i class="fa fa-clock-o"></i></button>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
